<div class="mat-elevation-z8">
    <div class="row pb-2">
        <div class="col-12">
            <form>
                <input (keyup)="applyFilter($event)" class="form-control mr-sm-2" type="text" placeholder="Search">
            </form>
        </div>
    </div>
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
        <!-- Position Column -->
        <ng-container matColumnDef="id_enc">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Id Encuesta </th>
            <td mat-cell *matCellDef="let element"> {{element.id_enc}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="titulo_enc">
            <th mat-header-cell *matHeaderCellDef> Titulo de la encuesta </th>
            <td mat-cell *matCellDef="let element"> {{element.titulo_enc}} </td>
        </ng-container>

        <!-- Weight Column -->
        <ng-container matColumnDef="detalle_enc">
            <th mat-header-cell *matHeaderCellDef> Informacion adicinal de la encuesta </th>
            <td mat-cell *matCellDef="let element"> {{element.detalle_enc}} </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>
