<div class="animated fadeIn fast jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Compras</h1>
        <p class="lead">Este modulo facilitara el proceso de compras de insumos.</p>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col">
            <div class="input-group">
                <input class="form-control" type="text" placeholder="Search" aria-label="Search" (keyup.enter)='buscarModulo(palabra.value)' #palabra>

                <div class="input-group-append">
                    <button type="button" class="btn btn-outline-success my-2 my-sm-0" (click)="buscarModulo(palabra.value)">Buscar Modulo</button>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row pt-3">
    <!-- *ngFor="let dato of opciones -->
    <div class="animated fadeIn fast col-md-6 col-xl-4 pb-2" *ngFor="let dato of tarjetas">
        <div class="card" id="{{dato.idname}}">
            <div style="text-align: center;">
                <img [src]="dato.imagen" class="card-img-top">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{dato.titulo}}</h5>
                <p class="card-text">{{dato.descripcion}}</p>
            </div>
            <button (click)="irA(dato.pagina)" class="btn btn-outline-primary btn-block">Crear</button>
        </div>

    </div>
</div>
