<div class="row pb-4">
    <div class="col-md-12 text-center">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="btn nav-link" routerLink="active" [routerLink]="['crearpregunta']">Crear Pregunta</a>
            </li>
            <li class="nav-item">
                <a class="btn nav-link" routerLink="active" [routerLink]="['verpregunta']">listar encuestas</a>
            </li>
            <li class="nav-item">
                <a class="btn nav-link" routerLink="active" [routerLink]="['editarpregunta']">Editar y Eliminar encuestas</a>
            </li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>