<div class="row pb-2">
    <div class="col-12">
        <form>
            <input (keyup)="applyFilter($event)" class="form-control mr-sm-2" type="text" placeholder="Search">
        </form>
    </div>
</div>
<div class="mat-elevation-z8">
    <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8" width="100%">
        <!-- Position Column -->
        <ng-container matColumnDef="nit">
            <th mat-header-cell *matHeaderCellDef mat-sort-header> Nit de la Sucursal </th>
            <td mat-cell *matCellDef="let element"> {{element.nit}} </td>
        </ng-container>

        <!-- Name Column -->
        <ng-container matColumnDef="nombre">
            <th mat-header-cell *matHeaderCellDef>Nombre la Sucursal </th>
            <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="select">
            <th mat-header-cell *matHeaderCellDef> </th>
            <td mat-cell *matCellDef="let element"><button class="btn btn-primary" (click)="SearchRowData(element.nit)">Seleccionar</button></td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator showFirstLastButtons></mat-paginator>
</div>
