<div class="animated fadeIn fast jumbotron jumbotron-fluid">
    <div class="container">
        <h1 class="display-4">Inscripcion de Proveedores</h1>
        <p class="lead">Agregar Nuevos Proveedores</p>
    </div>
</div>
<mat-horizontal-stepper [linear]="true" #stepper>
    <mat-step [stepControl]="proveedorFormGroup">
        <mat-card style="padding: 5px;">
            <form [formGroup]="proveedorFormGroup">
                <ng-template matStepLabel>Informacion del proveedor</ng-template>
                <div class="container">
                    <div class="row">
                        <div class="col-3">
                            <mat-form-field hintLabel="Max 20 Caracteres" class="example-full-width">
                                <mat-label>Nit o Cedula</mat-label>
                                <input matInput #sizeId maxlength="20" formControlName="id" placeholder="Id. Proveedor" (keyup)="calcular(sizeId.value)">
                                <mat-hint align="end">{{sizeId.value?.length || 0}}/20</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-4">
                            <mat-form-field hintLabel="Max 1 Caracteres" class="example-full-width">
                                <mat-label>Digito de Verificacion</mat-label>
                                <input matInput #sizeDV maxlength="1" formControlName="dv" placeholder="DV">
                                <mat-hint align="end">{{sizeDV.value?.length || 0}}/1</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-5">
                            <mat-form-field hintLabel="Max 250 Caracteres" class="example-full-width">
                                <mat-label>Nombre o Razon Social</mat-label>
                                <input matInput #sizeNom maxlength="250" formControlName="name" placeholder="Nombre o Razon Social">
                                <mat-hint align="end">{{sizeNom.value?.length || 0}}/250</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field hintLabel="Max 250 Caracteres" class="example-full-width">
                                <mat-label>Email</mat-label>
                                <input matInput #sizeEmail maxlength="250" formControlName="email" placeholder="Id. Proveedor">
                                <mat-hint align="end">{{sizeEmail.value?.length || 0}}/250</mat-hint>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field hintLabel="Max 250 Caracteres" class="example-full-width">
                                <mat-label>Dirección</mat-label>
                                <input matInput #sizeDir maxlength="255" formControlName="direccion" placeholder="Dirección">
                                <mat-hint align="end">{{sizeDir.value?.length || 0}}/250</mat-hint>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row margenRow">
                        <div class="col-3" style="margin-top: 15px;margin-bottom:0px">
                            <div class="row">
                                <div class="col-12 p-2 ml-3">
                                    <mat-hint align="start">Pais</mat-hint>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-9">
                                    <span matBadge="{{idPais}}" matBadgeOverlap="false" matBadgePosition="before"><mat-label class="lblinfo">{{ nombrePais }}</mat-label></span>
                                </div>
                                <div class="col-2" style="margin-right: 1px;">
                                    <button mat-icon-button style="color: black;" aria-label="Buscar" data-toggle="modal" data-target="#bpaises">
                                    <mat-icon>search</mat-icon>
                                  </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3" style="margin-top: 15px;">
                            <div class="row">
                                <div class="col-12 p-2 ml-3">
                                    <mat-hint align="start">Departamento</mat-hint>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-9">
                                    <span matBadge="{{ idRegion }}" matBadgeOverlap="false" matBadgePosition="before"><mat-label class="lblinfo">{{ nombreRegion }}</mat-label></span>
                                </div>
                                <div class="col-2" style="margin-right: 1px;">
                                    <button mat-icon-button style="color: black;" aria-label="Buscar" data-toggle="modal" data-target="#bregiones" (click)="childRegion.getRegiones()">
                              <mat-icon>search</mat-icon>
                            </button>
                                </div>

                            </div>
                        </div>
                        <div class="col-3" style="margin-top: 15px;">
                            <input type="hidden" formControlName="id_ciudad">
                            <div class="row">
                                <div class="col-12 p-2 ml-3">
                                    <mat-hint align="start">Ciudad</mat-hint>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-9">
                                    <span matBadge="{{ idCiudad }}" matBadgeOverlap="false" matBadgePosition="before"><mat-label class="lblinfo">{{ nombreCiudad }}</mat-label></span>
                                </div>
                                <div class="col-2" style="margin-right: 1px;">
                                    <button mat-icon-button style="color: black;" aria-label="Buscar" data-toggle="modal" data-target="#bciudades" (click)="childCiudad.getCiudades()">
                                    <mat-icon>search</mat-icon>
                                    </button>
                                </div>
                            </div>

                        </div>
                    </div>

                    <div class="row margenRow">
                        <div class="col-3" style="margin-top: 15px;">
                            <div class="row">
                                <div class="col-12 p-2 ml-3">
                                    <mat-hint align="start">Tipo de persona</mat-hint>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-9">
                                    <input type="hidden" formControlName="id_rol">
                                    <span matBadge="{{idRol}}" matBadgeOverlap="false" matBadgePosition="before"><mat-label class="lblinfo">{{ nombreRol }}</mat-label></span>
                                </div>
                                <div class="col-2" style="margin-right: 1px;">
                                    <button mat-icon-button style="color: black;" aria-label="Buscar" data-toggle="modal" data-target="#broles">
                                <mat-icon>search</mat-icon>
                              </button>
                                </div>
                            </div>
                        </div>
                        <div class="col-3" style="margin-top: 15px;">
                            <div class="row">
                                <div class="col-12 p-2 ml-3">
                                    <mat-hint align="start">Tipo de Proveedor</mat-hint>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-9">
                                    <input type="hidden" formControlName="id_regimen">
                                    <span matBadge="{{ idTPer }}" matBadgeOverlap="false" matBadgePosition="before" matBadgeColor="accent"></span>
                                </div>
                                <div class="col-2" style="margin-right: 1px;">
                                    <button mat-icon-button style="color: black;" aria-label="Buscar" data-toggle="modal" data-target="#btpersona">
                                    <mat-icon>search</mat-icon>
                                  </button>
                                </div>
                            </div>
                            <mat-label class="lblinfo">{{ nombreTPer }}</mat-label>
                        </div>
                    </div>
                </div>

                <div>
                    <button mat-button data-toggle="modal" data-target="#confirmar">Guardar Información</button>
                </div>
                <!-- Modal -->
                <div class="modal fade" id="confirmar" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalLabel">Confirmacion</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                          </button>
                            </div>
                            <div class="modal-body">
                                Desea guardar los datos ingresados
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                <button type="submit" (click)="enviarDatos()" class="btn btn-primary" matStepperNext>Guardar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </mat-card>
    </mat-step>

    <mat-step>
        <ng-template matStepLabel>Finalizar</ng-template>
        <p>El proceso finalizo</p>
        <div>
            <button mat-button matStepperPrevious>Regresar</button>
            <button mat-button (click)="stepper.reset()">Igresar otro proveedor</button>
        </div>
    </mat-step>

</mat-horizontal-stepper>

<!-- Modal -->
<div class="modal animated fade fadeIn" id="bpaises" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="PaisesModalLabel">Buscador de Paises</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
      <span aria-hidden="true">&times;</span>
    </button>
            </div>
            <div class="modal-body">
                <app-bpais (envioDato)="asignarPais($event)"></app-bpais>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal animated fade fadeIn" id="bregiones" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="RegionModalLabel">Buscador de Regiones</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
            </div>
            <div class="modal-body">
                <app-bregion [idPaisR]="idPais" (envioDato)="asignarRegion($event)" #childRegion></app-bregion>
            </div>
        </div>
    </div>
</div>

<!-- Modal -->
<div class="modal animated fade fadeIn" id="bciudades" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="CiudadModalLabel">Buscador de Ciudades</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
  <span aria-hidden="true">&times;</span>
</button>
            </div>
            <div class="modal-body">
                <app-bstate [idRegion]="idRegion" (envioDato)="asignarCiudad($event)" #childCiudad></app-bstate>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal animated fade fadeIn" id="broles" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="RolesModalLabel">Buscador de roles</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
            </div>
            <div class="modal-body">
                <app-brols (envioDato)="asignarRol($event)"></app-brols>
            </div>
        </div>
    </div>
</div>
<!-- Modal -->
<div class="modal animated fade fadeIn" id="btpersona" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="RolesModalLabel">Buscador de Tipo de Persona</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
<span aria-hidden="true">&times;</span>
</button>
            </div>
            <div class="modal-body">
                <app-typeperson (envioDato)="asignarTipoPer($event)"></app-typeperson>
            </div>
        </div>
    </div>
</div>