<div class="row pb-4">
    <div class="col-md-12 text-center">
        <ul class="nav nav-pills">
            <li class="nav-item">
                <a class="btn nav-link" routerLink="active" [routerLink]="['frmencuesta']">Crear encuesta</a>
            </li>
            <li class="nav-item">
                <a class="btn nav-link" routerLink="active" [routerLink]="['verencuestas']">listar encuestas</a>
            </li>
            <li class="nav-item">
                <a class="btn nav-link" routerLink="active" [routerLink]="['editarencuesta']">Editar y Eliminar encuestas</a>
            </li>
        </ul>
    </div>
</div>
<router-outlet></router-outlet>
