<div class="container">
    <div class="row">
        <div class="col">
            <p>Procesos Misionales | Comercialización | Indicacdor Cotizaciónes - Responsable Asistente de Ventas</p>
        </div>
    </div>
    <div class="row justify-content-end colinfo mt-3">
        <div class="col-4" style="text-align:right;"><b>Comercialización y Contratación</b></div>
    </div>
    <div class="row mt-3">
        <div class="col-5">
            <img src="../assets/png/logomadoco.png" alt="">
        </div>
        <div class="col-7" style="text-align:right;">
            <p>MaDoCo XXI SAS | Nit. 900347831-9</p>
            <p>Calle 60 No 23-36 Galán | Teléfono +57 7-6201424</p>
            <p>Barrancabermeja (Santander),</p>
            <p>Colombia Indicador Cotizaciónes</p>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <table class="infocoti">
                <thead>
                    <tr>
                        <th class="text-left">Variable analizada</th>
                        <th>Año</th>
                        <th>Semestre</th>
                        <th>Adjucdas</th>
                        <th>Rechzdas</th>
                        <th>Total</th>
                        <th>Indicador</th>
                        <th>Meta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-left">Cotización</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <table class="infocoti">
                <thead>
                    <tr>
                        <th class="text-left">Variable analizada</th>
                        <th>Año</th>
                        <th>Semestre</th>
                        <th>Adjucdas</th>
                        <th>Rechzdas</th>
                        <th>Total</th>
                        <th>Indicador</th>
                        <th>Meta</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td class="text-left">Cotización</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                        <td class="text-center">0</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
